/* removed button and attributes to button - RA */

/* text in containers needs to wrap*/

header {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

body {
    font-family: "Quicksand", sans-serif;
  }

#explanation {
    height: 100%;
    color: rgb(4, 60, 110);
    text-align: center;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 22px;
}

/* dropdown styling */
.dropdown{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* Dropdown button */
.dropbtn {
    background-color: rgb(4, 60, 110);
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px; 
    transition: background-color 0.3s ease;
}

.dropbtn:hover {
    background-color: rgb(166, 204, 204); 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left, .right{
    width: 20%;
    text-align: center;
    color: rgb(4, 60, 110);
    margin-top: 50px;
    border-style:solid;
    border-color: rgb(96, 168, 95);
    padding: 2%;
}

.column{
    float:left;
    padding: 10px;
}

.middle{
    width: 50%;
}

#rick-image{
   width: 100%; 
   height: 100%;
   object-fit: cover;
}

rick-cards {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    position:relative;
  }

  #name{
    bottom: 60px;
    left: 10px;
    width: 45%;
    position: absolute;
    background-color: white;
    font-size: 42px;
    font-weight: bold;
    text-indent: .5em;
  }

  #status{
    bottom: 30px;
    left: 10px;
    position: absolute;
    background-color: white;
    font-size: 25px;
    padding-bottom: .01px;
    font-style:italic;
    width: 30%;
    text-indent: .5em;
    margin-bottom: 30px;
  }

  #arch{
    bottom: 0;
    left: 10px;
    position: absolute;
    background-color: white;
    font-size: 25px;
    font-style:italic;
    width: 30%;
    text-indent: .5em;
  }

/* form area */
input, textarea{
    font: size 1rem;
    border: 1.5px solid black;
    background-color: white;
    padding: 10.5px;
    margin: .25rem 0;
    width:90%;
}

#create{
    background-color:rgb(80, 225, 18);
    font-size: 1.25rem;
    width:95%;
    font-weight: bold;
    margin: 1.25rem 0;
}

/* rick image cards */

.grid-container {
    margin-top: 25px;
    border-style: solid;
    border-color: rgb(96, 168, 95);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#half {
    border-style: solid;
    border-color: rgb(96, 168, 95);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; 
}

.card img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.row p{
    font-weight: 900;
}