header {
    padding: 1%;
    color: white;
    background-color: rgb(28, 177, 28);
}

h1 {
    display: block;
    text-align: center;
    font-size:60px;
    font-weight: bolder;
}
/*  centered div text - kr*/
#explanation {
    height: 100%;
    text-align: center;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
}

#rick-container {
    width:50%;
    padding-top: 20px;
    position: relative;
}

.left, .right{
    width: 25%;
}

.column{
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
#rick-image{
   width: 100%; 
   height: 100%;
   object-fit: cover;
}

rick-cards {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    position:relative;
  }

  #name{
    bottom: 60px;
    left: 10px;
    width: 45%;
    position: absolute;
    background-color: white;
    font-size: 42px;
    font-weight: bold;
    text-indent: .5em;
  }

  #status{
    bottom: 30px;
    left: 10px;
    position: absolute;
    background-color: white;
    font-size: 25px;
    padding-bottom: .01px;
    font-style:italic;
    width: 30%;
    text-indent: .5em;
    margin-bottom: 30px;
  }

  #arch{
    bottom: 0;
    left: 10px;
    position: absolute;
    background-color: white;
    font-size: 25px;
    font-style:italic;
    width: 30%;
    text-indent: .5em;
  }

/* form area */
input, textarea{
    font: size 1rem;
    border: 1.5px solid black;
    background-color: white;
    padding: 10.5px;
    margin: .25rem 0;
    width:90%;
}

#create{
    background-color:rgb(80, 225, 18);
    font-size: 1.25rem;
    width:95%;
    font-weight: bold;
    margin: 1.25rem 0;
}

/* rick cards */

#half{
    margin-top: 50px;
    border-style:solid;
    border-color: black;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    overflow-x: hidden;
}

#half img{
    object-fit: contain;
    overflow: hidden;
}
